.movieRow{
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
    overflow-x : hidden;/* tudo que passar da tela na horizontal sera cortado  */
    padding-left: 30px;
}

.movieRow--list {
    transition : all ease 0.2s;  /*pra mudar de uma imagem pra outra mais suave  */
}

.movieRow--item{
    display: inline-block;
    width:150px;/* tamanho das imagens  cursor mao e na mesma linha*/
    cursor: pointer;
}

.movieRow--item img{
   width: 100%;
   transform: scale(0.9);/* a imagem é 100% mas no css tera o tamnaho com 90% e assim ela separa uma da outra fazer isso tb no houver se quiser que aumentena passagem do mouse */
   transition : all ease 0.2s;/* animação com tempo de transição de uma imagem pra outra  */
}


.movieRow--item img:hover{
    transform: scale(1);/* ao passar o mouse a imagem aumenta para 100% */
 }

 .movieRow-left,
 .movieRow-right {
    position:absolute;   
    width: 40px;
    height: 225px; 
    background-color:rgba(0,0,0,0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor:pointer;
    opacity: 0;
    transition : all ease 0.2s; 
}

 .movieRow-left{
     left: 0;
 }

 .movieRow-right{
    right: 0;
}

 .movieRow:hover .movieRow-left,  /*so aparece a seta quando passo o mouse na lista*/
.movieRow:hover .movieRow-right{
    opacity: 1;
}


 @media (max-width: 760px){ /* responsividade pra celular */
    .movieRow-left,
    .movieRow-right {
    opacity: 1;
    }
}
